@page
@model CoffeeShop.Areas.Admin.Pages.Tables.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Table Number:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-page="./Index">Back to full list</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Table[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Table[0].QRCodeTable)
            </th>
            <th>Download</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Table) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="@item.QRCodeTable" alt="QR Code" style="width: 100px; height: 100px;" />
            </td>
            <td>
                <a href="?handler=DownloadQRCode&id=@item.TableID" class="btn btn-primary">Download QR Code</a>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TableID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TableID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TableID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisable = !Model.Table.HasPreviousPage ? "disabled" : "";
    var nextDisable = !Model.Table.HasNextPage ? "disabled" : "";
}
<a asp-page="./Index" asp-route-pageIndex="@(Model.Table.PageIndex -1)" asp-route-currentFilter="@(Model.CurrentFilter)" class="btn btn-primary @prevDisable">
    Previous
</a>
<a asp-page="./Index" asp-route-pageIndex="@(Model.Table.PageIndex +1)" asp-route-currentFilter="@(Model.CurrentFilter)" class="btn btn-primary @nextDisable">
    Next
</a>
