@page
@model CoffeeShop.Areas.Shared.Pages.Menu.ListMenuModel
@{
    ViewData["Title"] = "Index";
}
<h2 id="titleMenuItems">Menu Items</h2>
@if (User.IsInRole("Admin"))
{
<p>
    <a asp-area="Admin" asp-page="/Menu/CreateItem">Create New Item</a>
</p>
}
<!-- Global Search Input -->
    <form method="get">
    <div class="row align-items-center d-flex w-100">
        <div class="col-6">
            <input type="text" name="searchQuery" class="form-control mr-2" placeholder="Global Search" value="@Model.SearchQuery" />
        </div>
        <div class="col-6 d-flex justify-content-start">
            <button type="submit" class="btn btn-danger"><i class="fas fa-search"></i></button>
        </div>
</div>
    </form>
<hr style="border: 3px solid white; margin: 20px 0;" />

<div>
<!-- Drink Menu Nav -->
<nav class="tm-black-bg tm-drinks-nav">
    <ul>
            @foreach (var cates in Model.Category)
            {
                <li>
                    <form id="cateForm" method="get">
                        <input type="hidden" name="cateId" id="cateIdInput" />
                        <a href="#"  onclick="submitForm('@cates.CategoryID')" class="tm-tab-link">@cates.CategoryName</a>
                    </form>
                </li>
            }
    </ul>
</nav>
</div>
<table class="table">
    <thead>
        <tr id="titleMenu">
            <th>Product</th>
            <th>Sizes Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var productGroup in Model.ProductSize.GroupBy(p => new { p.Product.ProductName, p.Product.ImageUrl }))
        {
            <tr>
                <td>
                    <div>
                        <img src="@productGroup.Key.ImageUrl" alt="Product Image" class="product-image" />
                    </div>
                    <strong id="productName">@productGroup.Key.ProductName</strong>
                </td>
                <td>
                    @foreach (var item in productGroup)
                    {
                        <p id="itemSizePrice">@item.Size.SizeName - @item.Price.ToString("C")</p>
                    }
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        @foreach (var item in productGroup)
                        {
                            <p>
                                <a asp-area="Admin" asp-page="/Menu/EditItem" asp-route-id="@item.ProductSizeID">Edit</a> |
                                <a asp-page="./Delete" asp-route-id="@item.ProductSizeID">Delete</a>
                            </p>
                        }
                    }
                    else
                    {
                        @foreach (var item in productGroup)
                        {
                            <p>
                                <form asp-page="./AddToCart" method="post">
                                    <input type="hidden" name="ProductSizeID" value="@item.ProductSizeID" />
                                    <button type="submit" class="btn btn-danger">
                                        <i class="fas fa-cart-arrow-down"></i>
                                    </button>
                                
                                </form>
                            </p>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.ProductSize.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.ProductSize.HasNextPage ? "disabled" : "";
    int totalPages = Model.ProductSize.TotalPages;
    int currentPage = Model.ProductSize.PageIndex;
}
<div class="pagination">
    <button onclick="navigateToPage(@(currentPage - 1))" class="btn btn-primary @prevDisabled">Previous</button>

    @for (int i = 1; i <= 3; i++)
    {
        <button onclick="navigateToPage(@i)" class="btn btn-primary @(currentPage == i ? "active" : "")">@i</button>
    }

    <button onclick="navigateToPage(@(currentPage + 1))" class="btn btn-primary @nextDisabled">Next</button>
</div>

<script>
    function submitForm(cateName) {
        document.getElementById('cateIdInput').value = cateName;
        document.getElementById('cateForm').submit();
    }
    function navigateToPage(pageIndex) {
        const searchQuery = '@Model.SearchQuery';
        const baseUrl = '/Shared/Menu/ListMenu';
        const url = `${baseUrl}?searchQuery=${encodeURIComponent(searchQuery)}&pageIndex=${pageIndex}`;
        window.location.href = url;
    }
</script>

