@page
@model CoffeeShop.Areas.Admin.Pages.User.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Phone Number
            </th>
            <th>
                UserName
            </th>
            <th>
                Full Name
            </th>
            <th>
                Account Type
            </th>
            <th>
                Email
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @switch (item.AccountType)
                    {
                        case 0:
                            <span>Customer</span>
                            break;
                        case 1:
                            <span>Admin</span>
                            break;
                        default: break;
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.UserID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.UserID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.UserID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <span class="mr-2">Page Size:</span>
        <select asp-items="@Model.PageSizeList" id="pageSizeSelector">
        </select>
    </div>
    <div>
        <nav aria-label="Page navigation">
            <ul class="pagination mb-0">
                <li class="page-item @(!Model.Users.HasPreviousPage ? "disabled" : "")">
                    <a class="page-link"
                       asp-route-pageIndex="@(Model.Users.PageIndex-1)"
                       asp-route-pageSize="@Model.Users.PageSize">Previous</a>
                </li>
                @for (int i = 1; i <= Model.Users.TotalPages; i++)
                {
                    <li class="page-item @(Model.Users.PageIndex == i ? "active" : "")">
                        <a class="page-link"
                           asp-route-pageIndex="@i"
                           asp-route-pageSize="@Model.Users.PageSize">@i</a>
                    </li>
                }
                <li class="page-item @(!Model.Users.HasNextPage ? "disabled" : "")">
                    <a class="page-link"
                       asp-route-pageIndex="@(Model.Users.PageIndex+1)"
                       asp-route-pageSize="@Model.Users.PageSize">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#pageSizeSelector').on('change', function () {
                var pageSize = $(this).val();
                // Reload the page with the pageSize parameter
                window.location.href = window.location.pathname + "?pageSize=" + pageSize;
            });
        });
    </script>
}